.navbar {
  background-color: #e6590df0;
  font-weight: bold;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #faebd7;
}

#kegiatan {
  background-color: #faebd7;
}

#helpdesk {
    background-color: #faebd7;
}

.footer {
    background-color: #e6590df0;
  }

section{
    padding-top: 4rem;
}